/* Stylesheet specific to Matador's needs */

.hide {
	display: none;
}

.title-1, .title-2, .title-3, .title-4, .title-5, .heading-title {
	text-transform: none;
}

.account-item > .content {
     margin-left: 0px; 
}

.account-dropdown .info .content {
    margin-left: 0px;
}

.overview-item .text {
	max-width: 220px;
}

.copyright img{
    max-height: 30px;
    margin-right: 15px;
}

#demo-geo {
	height: 250px;
    width: 100%;
}

#absenteism-geo {
	height: 250px;
    width: 100%;
}

.cost-info li {
	margin-left: 18px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }