/* Stylesheet specific to Matador's needs */

.hide {
	display: none;
}

.account-item > .content {
     margin-left: 0px; 
}

.account-dropdown .info .content {
    margin-left: 0px;
}

.overview-item .text {
	max-width: 220px;
}

.copyright img{
    max-height: 30px;
    margin-right: 15px;
}

#demo-geo {
	height: 250px;
    width: 100%;
}
